:root { 
--black_900_7e:#0000007e; 
--red_600:#d34141; 
--light_blue_500:#02a0fc; 
--red_400:#eb5757; 
--black_900_4c_01:#0000004c; 
--green_500:#409a74; 
--black_900_00:#00000000; 
--blue_gray_900_01:#303030; 
--blue_gray_900:#292d32; 
--gray_600:#697076; 
--blue_400_63:#369eff63; 
--black_900_4c:#0e0d0d4c; 
--blue_gray_100:#d0d0d0; 
--blue_700:#237fd2; 
--blue_gray_300:#8ea3b6; 
--blue_gray_500:#6b7c93; 
--gray_200:#f0f0f0; 
--black_900_0c:#0000000c; 
--blue_50:#dfebff; 
--gray_100_02:#f7f7f7; 
--indigo_200:#9dacd3; 
--indigo_A700:#4339f2; 
--gray_100_01:#f5f5f5; 
--blue_100:#cae5ff; 
--blue_gray_400_03:#777e90; 
--blue_gray_400_02:#7c8b9f; 
--blue_gray_400_01:#828990; 
--white_A700:#ffffff; 
--indigo_600:#2d68a2; 
--blue_gray_50:#eeeff0; 
--blue_A700:#0060ff; 
--green_600:#34b53a; 
--light_blue_800:#006dd3; 
--green_400:#41d37e; 
--black_900:#000000; 
--gray_500_01:#9da3a8; 
--gray_500_02:#a9abad; 
--gray_900_02:#212229; 
--blue_gray_50_01:#edf0f6; 
--white_A700_a0:#ffffffa0; 
--gray_900_03:#1b1b1b; 
--gray_600_02:#848484; 
--gray_500:#909090; 
--gray_600_01:#696f79; 
--blue_gray_400:#8591a5; 
--amber_600:#ffb200; 
--gray_900:#17191b; 
--gray_900_01:#131517; 
--gray_300:#dde0e6; 
--blue_gray_300_01:#8899a8; 
--gray_100:#f6f7f7; 
--white_A700_01:#fefdfd; 
--blue_400:#369eff; 
}